show.erb - tours
<form method=POST action="/tourdates/<%= params[:venue_id] %>/edit">
<% if @tourdates.user_id.include?(session[:user_id])%>
  <%= @user.tourdates %> 
<% end %>
<br>
<input type="submit" id="edit_tourdate" value="Edit Tourdate">
</form>


<form method="POST" action="/tourdates/<%= tourdate.venue_id %> ">
  <label id="status">Needs Contact</label>
  <input type="radio" id="status" name="user[status]" value="Needs Contact" CHECKED>
  <label id="notes">Tourdate Notes</label>
  <input type="textarea" rows=7 cols=14 id="notes" name="user[notes]" placeholder="Keep notes on your contact with the venues here..." />
  
  <h4>Need to delete the venue from your tour? 
  <br>This removes all notes and records of this venue from your account!!</p>
  <input type="hidden" name="_method" value="delete" />
  <button type="submit" value="Delete Post"> Delete Post </button>
</form>







show.erb - tours
<table>
<td>
<form>
<% @tourdates.each do |tourdate| %>
  <% if tourdate.user_id == session[:user_id]%>
    <%= tourdate %> 
  <% end %>
  <br>
<a href="/tourdates/<%= tourdate.venue_id %>/edit">Edit Venue</a>

</form>
</td>

<td>
<form method="POST" action="/tourdates/<%= tourdate.venue_id %> ">
  <label id="status">Needs Contact</label>
  <input type="radio" id="status" name="tourdates[status]" value="Needs Contact" CHECKED>
  <label id="notes">Tourdate Notes</label>
  <input type="textarea" rows=7 cols=14 id="notes" name="tourdates[notes]" placeholder="Keep notes on your contact with the venues here..." />
  
  <h4>Need to delete the venue from your tour? 
  <br>This removes all notes and records of this venue from your account!!</p>
  <input type="hidden" name="_method" value="delete" />
  <button type="submit" value="Delete Post"> Delete Post </button>
</form>
  </td>
<% end %>
</table>