<h2>Tour Like Bettye, <%= @user.first_name.capitalize %>!!</h2> 
<p>Check some choices and add to your tourdates, <br>or click on a venue for tourstop research.</p>

<h4>Let's start by researching these venues. </h4>
<br>
<form action="/venues/<%= @venue_id %>" method="POST">
<ul>
  <% @venues.all.each do |venue| %>
    <li><a href="/venues/<%= venue.id %>" value="<%= venue.id %>"><%= venue.name %></a></li>
  <% end %>
</ul>
</form>

  <form action="/tourdates/<%=@user.id%>" method="POST">
<br>
  When you're done with your research click here to 
  <input id="tours" type="submit" value="Create/Add Tourdates">

</form>