show.erb - venues
<form method="POST" action="/venues/<%= @venue.id %>/edit">

<p><%= @venue.id %></p>
<%= @venue.name%>
<%= @venue.booking %>
<%= @venue.box_office %>
<%= @venue.email %>
<%= @venue.phone %>
<%= @venue.description %>
<%= @venue.website %>
<%= @venue.address %>
<%= @venue.city %>
<%= @venue.state %>
<%= @venue.postal_code %>
<%= @venue.longitude %>
<%= @venue.latitude %>
<%= @venue.updated_at %>
<input type="hidden" name="_method" value="patch">
<input type="submit" id="edit_venue" value="Edit Venue">
</form>
<form method="POST" action="/venues/<%= @venue.id %> ">
  <input type="hidden" name="_method" value="delete" />
  <button type="submit" value="Delete Venue"> Delete Post </button>
</form>
  