show.erb - venues
<%= @venue.id %>
<%= @venue.name%>
<a href="/venues/<%= @venue.id %>/edit">Edit Venue</a>
<%= booking %>
<%= box_office %>
<%= email %>
<%= password_digest %>
<%= phone %>
<%= description %>
<%= website %>
<%= address %>
<%= city %>
<%= state %>
<%= postal_code %>
<%= longitude %>
<%= latitude %>
<%= updated_at %>
  